/* * {
  outline: 1px solid red;
} */

.my-div {
  border-radius: 4px;
  transition: all 500ms;
  cursor: pointer;
}

.my-div:hover {
  box-shadow: 0px 0.35em 1.175em, 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}
.modal-footer {
  padding: 0;
  border-top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.modal-header .btn-close {
  padding: 0;
  margin: 0;
}
.modal-header {
  justify-content: flex-end;
}
iframe {
  position: sticky;
}
.texts {
  position: relative;
}
.modal-title {
  padding-right: 33%;
}
.button-blue {
  margin-top: 12% !important;
}
.button-voilet {
  margin-top: 45% !important;
}
.button-demon {
  margin-top: 22% !important;
}
.button-onepiece {
  margin-top: 30% !important;
}
.signup-title {
  padding-right: 80% !important;
}
/* ####################### index page content ##################################### */
.img-for-container {
  height: 180px;
  width: 130px;
}
.img-for-container img {
  width: 100%;
  height: 100%;
}
.contain-title:hover h3 {
  text-decoration: underline;
  cursor: pointer;
}
.text-for-container {
  line-height: 35px;
}
.features {
  padding: 3%;
}
@media only screen and (max-width: 600) {
  .resize {
    align-items: center;
    justify-content: center;
  }
  .img-for-container {
    height: 250px;
    width: 250px;
  }
  .img-for-container img {
    width: 100%;
    height: 100%;
  }
}
.modal-full-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-modal {
  justify-content: center;
  align-items: center;

  max-width: 830px;
}

.img-modal img {
  width: 100%;
  height: 100%;
}
.contex {
  border: none !important;
  text-align: left;
  padding: 1rem 21.5%;
}
.modal-round {
  border-radius: 1% !important;
}
.side-sarna {
  padding-right: 56% !important;
}
.side-sarna2 {
  padding-right: 53% !important;
}
.side-sarna3 {
  padding-right: 46% !important;
}
