/* * {
  outline: 1px solid red;
} */

/* .text-left {
  width: 100%;
} */
.my-div {
  border-radius: 4px;
  transition: all 500ms;
  cursor: pointer;
}

.my-div:hover {
  box-shadow: 0px 0.35em 1.175em, 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}
